<div class="container" fxLayout="column">
    <div fxFlex="100" style="padding: 12px 12px 3px 12px;">
        <div fxLayout="row">
            <mat-toolbar>
                <div>
                    <h1>Welcome To Lethean</h1>
                    <h2 class="lthn-brand" style="font-size: medium; line-height: 12px;">
                        Protecting Privacy &amp; Confidentially since 2017
                    </h2>
                </div>

            </mat-toolbar>
        </div>
        <mat-divider></mat-divider>
        <div *ngIf="!processingForm" fxLayout="row" fxLayoutGap="2px">

            <mat-card fxFlex="40">
                <mat-card-title>New User</mat-card-title>
                <mat-card-content>
                    <form fxLayout="column">
                        <mat-form-field appearance="standard" fxFlex="100">
                            <mat-label>Username</mat-label>
                            <input [formControl]="username" autocomplete="off" matInput>
                        </mat-form-field>
                        <mat-form-field appearance="standard" fxFlex="100">
                            <mat-label>Password</mat-label>
                            <input [formControl]="password" autocomplete="off" matInput>
                        </mat-form-field>
                        <mat-form-field appearance="standard" fxFlex="100">
                            <mat-label>Password (Confirm)</mat-label>
                            <input [formControl]="passwordRepeat" autocomplete="off" matInput>
                        </mat-form-field>

                    </form>
                    <button (click)="addUser()" color="accent" mat-button>Create User</button>
                </mat-card-content>
            </mat-card>

            <mat-card fxFlex="60">
                <mat-card-title>Data Handling Declaration</mat-card-title>
                <mat-card-content>
                    <p>
                        Lethean's designed to protect your digital security; We encrypt as much as we can.
                    </p>
                    <p>
                        Our software is Free to Own, Free to use, Free to modify; we impose no limitations on how you
                        use your
                        software and never will.
                    </p>
                    <p>
                        Below is a highlight of some of the steps we take to protect you.
                    </p>
                    <h2>Data Confidentiality</h2>
                    <ul>
                        <li>User accounts don't hold cleartext data.</li>
                        <li>Application data is encrypted & meaningless without User authentication.</li>
                        <li>Transactions on our network are Encrypted, with a secret decryption key per transaction;
                            confidentiality
                            is standard.
                        </li>
                        <li>There is no method to expose VPN purchase history to anyone but you.</li>
                        <li>There is no magic key; we can not under any circumstances decrypt or recover your data; it's
                            just not
                            possible, dont forget your login details.
                        </li>
                    </ul>
                    <h2>Data Privacy</h2>
                    <ul>
                        <li>Application data is locked to user accounts with military-grade encryption.</li>
                        <li>You will be informed when you wish to perform an action that will expose data.</li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
        <div *ngIf="processingForm" fxLayout="row" fxLayoutGap="2px">
            <mat-card fxFlex="100">
                <mat-card-title>Building Your Encryption Keys</mat-card-title>
                <mat-card-content>
                    <p>You will be redirected to the profile creation page soon.</p>
                    <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

