<mat-sidenav-container class="main-container">
    <mat-sidenav #sidenav [(opened)]="menu"
                 mode="side">
        <div fxLayout="row">
            <a [routerLink]="['/']">
                <img alt="Lethean Logo" class="logo" src="assets/images/logo.png"/>
            </a>
            <button (click)="closeMenu()" *ngIf="menu" mat-button>
                <mat-icon>menu_close</mat-icon>
            </button>
        </div>

        <mat-divider></mat-divider>
        <mat-nav-list>
            <a [routerLink]="['/'] " mat-list-item>Dashboard</a>
            <a [routerLink]="['chain'] " mat-list-item>Chain</a>
            <a [routerLink]="['wallet'] " mat-list-item>Wallet</a>
            <a [routerLink]="['settings'] " mat-list-item>Settings</a>
        </mat-nav-list>
        <span class="flex-spacer"></span>
        <lthn-app-status></lthn-app-status>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar>
            <mat-toolbar-row>

                <button (click)="openMenu()" *ngIf="!menu" mat-button>
                    <mat-icon>menu_open</mat-icon>
                </button>
                <span>{{heading}}</span>
                <span class="flex-spacer"></span>
                <button [routerLink]="['/console']" mat-button>
                    <mat-icon>terminal</mat-icon>
                </button>
                <!--                <ng-container *ngIf="!focusMode">-->
                <!--                    <span class="flex-spacer"></span>-->
                <!--                    <mat-menu #appMenu="matMenu">-->
                <!--                        <ng-template let-name="name" matMenuContent>-->
                <!--                            <mat-list-item>-->
                <!--                                <a color="accent" href="https://hiveonboard.com?ref=dvpn" mat-button-->
                <!--                                   target="_blank">Signup</a>-->
                <!--                                <button [routerLink]="['login']" color="accent" mat-button>Login</button>-->
                <!--                            </mat-list-item>-->
                <!--                            <mat-divider></mat-divider>-->
                <!--                            <mat-list-item>-->
                <!--                                <button [routerLink]="['user']" color="accent" mat-button>User</button>-->
                <!--                                &lt;!&ndash;                <button [routerLink]="['user', 'profile']" color="accent" mat-button>Profiles</button>&ndash;&gt;-->
                <!--                            </mat-list-item>-->
                <!--                            <mat-list-item>-->
                <!--                                <button [routerLink]="['settings']" color="accent" mat-button>Settings</button>-->
                <!--                            </mat-list-item>-->
                <!--                            <mat-divider></mat-divider>-->
                <!--                            <mat-list-item>-->
                <!--                                <button [routerLink]="['opensource-licence']" color="accent" mat-button>OS Licences-->
                <!--                                </button>-->
                <!--                            </mat-list-item>-->

                <!--                        </ng-template>-->
                <!--                    </mat-menu>-->

                <!--                    <button [matMenuTriggerData]="{auth: this.auth}" [matMenuTriggerFor]="appMenu"-->
                <!--                            mat-icon-button-->
                <!--                            matTooltip="Click Me!">-->
                <!--                        <img src="https://robohash.org/cant access my account?set=set4" style="width: 42px;">-->
                <!--                    </button>-->
                <!--                </ng-container>-->
            </mat-toolbar-row>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>



