<div class="container" fxLayout="column">
  <div fxFlex="100" style="padding: 12px 12px 3px 12px;">
    <div fxLayout="row">
      <mat-card fxFlex="100">
        <mat-card-title>Network Hash Rate</mat-card-title>
        <mat-card-subtitle>
          Data provided by<a color="accent" href="https://hashvault.pro" mat-button>HashVault
          Mining Pool</a>
        </mat-card-subtitle>
        <mat-card-content>
          <div lthnChart="networkDifficulty"></div>
        </mat-card-content>
      </mat-card>

    </div>
    <div fxLayout="row">

      <div fxFlex="40" style="padding: 6px 3px 6px 0;">
        <mat-card>
          <mat-card-title>Local Chain</mat-card-title>
          <mat-card-content>
            <p *ngIf="this.isWeb">
              To sync the Lethean blockchain, you need to <a class="lthn-brand" href="https://lt.hn/en/download">download
              our app</a> or
              the <a class="lthn-brand" href="https://github.com/letheanVPN/lethean/releases">Standalone CLI</a>
            </p>
            <p *ngIf="this.isApp">
              Did you know you can start the Lethean blockchain clicking the cloud icon in the bottom left corner?
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="30" style="padding: 6px 3px 6px 0;">
        <mat-card>
          <mat-card-title>CLI Downloads</mat-card-title>
          <mat-card-content>
            <mat-nav-list fxLayout="row">
              <a
                href="https://github.com/letheanVPN/lethean/releases/download/v3.1.0/lethean-cli-linux-64bit-v3.1.tar.bz2"
                mat-list-item>Linux</a>
              <a
                href="https://github.com/letheanVPN/lethean/releases/download/v3.1.0/lethean-cli-mac-64bit-v3.1.tar.bz2"
                mat-list-item>Macos</a>
              <a href="https://github.com/letheanVPN/lethean/releases/download/v3.1.0/lethean-cli-win-64bit-v3.1.zip"
                 mat-list-item>Windows</a>

            </mat-nav-list>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="30" style="padding: 6px 0 6px 3px;">
        <mat-card>
          <mat-card-title>Remote Node</mat-card-title>
          <mat-card-content>
            <mat-list fxLayout="row">
              <mat-list-item>sync.lethean.io</mat-list-item>
              <mat-list-item>nodes.hashvault.pro</mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>

    </div>

    <div>
      <mat-card>
        <mat-card-title>Recent Blocks</mat-card-title>
        <mat-card-content>
          <table *ngIf="recentTxs" style="width: 100%;">
            <thead>
            <tr>
              <th>Age</th>
              <th>Hash</th>
              <th>Height</th>
              <th>Time</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let block of recentTxs">
              <td>{{block.age}}</td>
              <td>
                <a color="accent" href="https://lethean.hashvault.pro/explorer/block/{{block.hash}}"
                   mat-button
                   rel="nofollow">{{block.hash}}</a>
              </td>
              <td>
                {{block.height}}</td>
              <td>{{block.timestamp * 1000 | date: 'dd/MM/yyyy @ HH:mm:ss'}}</td>
            </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
</div>

