<div style="padding: 16px;">
    <mat-card>
        <mat-card-header>
            <mat-card-title>LTHN Console</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <ng-terminal #term></ng-terminal>
        </mat-card-content>
    </mat-card>
</div>
